/*  comentario de css*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

*{
    margin:0 auto;
    width:100%;
    overflow-x: hidden; 
    
}
body{
    background-image: url(../assets/img/confeti.jpg);
    background-repeat: repeat-x;
    width: 100%;
}
.navbar{
    height: auto;
    width: auto;

}
.bgPropio {
    background-color: yellow;
}
.navbar-brand{
    font-family: 'Playfair Display', serif;
    font-size: 2em;

}
.nav-item {
    font-size:  1.3em;
}



header nav {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: yellow;
    position: fixed;
    /* margin-top: 4em; */
    z-index: 3;
    
}


header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-top: 1em; */
    z-index: 3;
    
}

header nav ul li{
    font-family: 'Noto Sans', sans-serif;
    color: black;
    /*list-style-type: none ;*/
    text-decoration: none;
    /* margin-bottom: 1em; */
    font-size: 1.3em;
    z-index: 3;
}
nav ul li a {
    text-decoration: none;
    
}


/* CSS DE LOS TITULOS */
.titulosPaginas{
    
    font-family: 'Playfair Display', serif ;
    font-size: 10em;
    text-align: center;
}
.titulosPaginas h2{
    font-size: 0.5em;
    overflow: hidden;
    
}

#encabezado {

    margin-top:7em;
    
}

/* CSS DE LA HOME*/


.contenedorInicio{
    display: grid;
    /* height: 100vh; */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "hola hola hola hola "
    "inicio inicio inicio imagen"
    "texto texto contacto contacto"
    "video video video video"
    
    ;
    grid-template-rows: 5rem 24rem 22rem 30rem; 

    background-color: white;
}
.boxHola{
    grid-area: hola;
    text-align: center;
    
}
.boxHola h2{
    font-size: 3rem;
    font-family: 'Playfair Display', serif ;
    overflow: hidden;
    margin-top: 0.2rem;
}
.boxInicio{
    /* grid-column: 1 / 4 ;
    grid-row: 1 / 1 ; */
    grid-area: inicio;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    text-align: center;

}

.boxInicio h2{
    font-family: 'Playfair Display', serif ;
    font-size: 4rem;
    text-align: center;
    overflow:hidden;
    margin-top: 2rem;
    
}
.boxInicio p {
    margin-top: 2rem;
    text-align: justify;
    margin-left: 1rem;
    height: 20rem;
    width: 80rem;
}

.boxImagen{
    /* grid-column: 4 / 5;
    grid-row: 1 / 1; */
    grid-area: imagen;
}
.boxImagen img {
   border-radius: 1rem;
}
.boxTexto{
    /* grid-column: 1 / 3 ;
    grid-row: 2 / 2 ;  */
    grid-area: texto;
    /*height: 15em;
    width: 15rem;*/
    background-color: yellow;
    overflow: hidden;
    border-radius: 3rem;
    margin-left: 1rem;
}
.boxTexto p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    text-align: justify;
    margin-top: 6rem;
    height: 14rem;
    width: 54rem;
    
}

.boxContacto{
    /* grid-column: 3 / 5 ;
    grid-row: 2 / 2; */
    background-color: rgba(251, 255, 0, 0.527);
    border-radius: 1em;
    grid-area: contacto;
    height: 18em;
    margin-top: 2em;
    width:19rem;
}
.boxContacto p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    margin-top:2.5rem;
    justify-content: center;
}
.boxContacto p a {
    text-decoration: none;
    color: grey;
}
.boxContacto p a:hover{
    color:red;
    transform: scale(2 , 2);
}
 .boxVideo{
    grid-area: video;
    overflow: hidden;
    margin-top: 1rem;
}
.boxVideo iframe{
    border-radius: 1em;
    width: 90%;
    border: 3em;
    margin-left: 8em;
    margin-bottom: 1em;
    width: 50rem;
    height: 30rem;
    display: inline-block;
    justify-items: center;
    align-content: center;

} 





    /*CSS DE CLIENTES*/

#contenedorClientes{

    margin-top: 1em;
}

#cardCliente{
    margin-left: 11em;
    margin-top: 3px;
    margin-right: 5em;
    display:inline-block;
    justify-content: space-between;
    align-items: center;
    width: 18em;
    height: 18em;
   
    margin-bottom: 1em;
}

#cardCliente img {
    width: 16em;
    height: 16em;
    overflow: hidden;
    
}
#cardCliente h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    overflow: hidden;

}
#cardCliente h3 a {
    text-decoration: none;
}





 /*  CSS DE SERVICIOS */
 
.contenedorServicios{
 
}

.servicio{
    background-color: rgb(255, 221, 0);
    margin-left: 11em;
    margin-top: 3em;
    margin-right: 5em;
    display:inline-block;
    justify-content: space-between;
    align-items: center;
    width: 56em;
    height: 12em;
    border-radius: 2em;
    margin-bottom: 1em;
    grid-area: servicios;

}


.servicio h3{
    font-family:'Noto Sans', sans-serif;
    text-align:left;
    margin-top: 0.5em;
    margin-left: 1em;
    font-size: 2em;
}

.servicio ul li {
    font-family:'Noto Sans', sans-serif; 
    color: rgb(83, 82, 82);
    margin-left: 0em;
    margin-top: 1em;

}






/* CSS DE FAQ*/


#contenedorFAQ{
   
}

#preguntas{
    background-color: rgb(255, 221, 0);
    margin-left: 11em;
    margin-top: 3em;
    margin-right: 5em;
    display:inline-block;
    justify-content: space-between;
    align-items: center;
    width: 20em;
    height: 18em;
    border-radius: 2em;
    margin-bottom: 1em;
    
}
#preguntas h3{
    font-family:'Noto Sans', sans-serif;
    text-align: center;
    margin-top: 0.5em;
    font-size: 1.5em;
    overflow: hidden;
}
#preguntas p {
    font-family:'Noto Sans', sans-serif; 
    color: rgb(83, 82, 82);
    margin-left: 0em;
    margin-top: 0.8em;
    text-align: center;
  
}
#preguntas p a {
    text-decoration: none;
    color:black;
}
#preguntas p a:hover{
    color:red;
}






/*  CSS DE CONTACTANOS */
.formulario{
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110%;
    width: 90%;
    overflow: auto;
    font-size: 1em;
    background-color: white; 
    

}
.formulario input{
    width: 95%;
    overflow: hidden;
    border-color: yellow;
    border-bottom-width: 0.9em 0.9em 0.9em 0.9em;
    border-style: solid;
    height: 2.5em;
  
}
.formulario select{
    width: 95%;
    overflow: hidden;
    border-color: yellow;
    border-bottom-width: 0.9em 0.9em 0.9em 0.9em;
    border-style: solid;
    height: 2.5em;
}
.formulario textarea{
    width: 95%;
    overflow: hidden;
    border-color: yellow;
    border-bottom-width: 0.9em 0.9em 0.9em 0.9em;
    border-style: solid;
}
.formulario fieldset{
    width: 95%;
    overflow: hidden;
    border-color: yellow;
    border-bottom-width: 0.9em 0.9em 0.9em 0.9em;
    border-style: solid;
}

.botones{
    margin-top: 1em;
    display: inline-flex;
    justify-content:space-around ;
}
.botones input{
    margin-top: 1em;
    display: inline-flex;
    justify-content:space-around ;
    width: 8em;
    height: 2em;
    background-color: rgb(87, 85, 85);
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
}

#mapa{
    width: 90%;
    border: 3em;
    border-color: yellow;
    margin-bottom: 1em;
    text-align: center;
    
}
#mapa iframe{
    border-radius: 1em;
}
#mapa p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5em;

}

#rrss{
    display: flex;
    flex-direction: row;
    justify-items:center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8em;
    background-color: yellow;
    height: 7em ;
    
   
}
#rrss a {
    background: radial-gradient(circle, rgba(246,247,105,1) 35%, rgba(251,146,22,1) 100%);
    justify-items: baseline;
    border-radius: 5em;
    height: 3.5em;
    width:3.5em ;

 
}
#rrss a:hover{
    transform: scale(1.2, 1.2);
 
}
#rrss a svg {
    margin-top: 1em;
}

footer p {
    background-color: yellow;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.copy{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

@media (max-width:576px){
    .contenedorInicio{
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "hola"
        "inicio"
        "imagen"
        "texto"
        "contacto"
        "video"
        ;
        grid-template-rows: 5rem 15rem 10rem 8rem 10rem 10rem; 
        grid-template-columns: 25rem;
        background-color: white;
    }
  
    .boxInicio{
        width: 28rem;
        background-color: aquamarine;
        height: 18rem;
        overflow: hidden;
        margin: 0;
    }
    .boxInicio p{
        width: 26rem;
        margin-top: 0.5rem;
    }
    .boxImagen img{
        margin-top:0.5rem;
    }
    .boxImagen{
        margin: 0;
        width: 20rem;
        background-color: blue;
        height: 17rem;

    }
    .boxTexto{
        background-color: pink;
        border-radius: 0rem;
        height: 20rem;
        width: 22rem;
        margin: 0;
        overflow: hidden;
        margin-top: 0;
    }
    .boxTexto p{
        margin-top: 1rem;
        width: 20rem;
        height: 25rem;
        background-color: aquamarine;
    }
    .boxContacto{
        margin: 0 ;
        height: 20rem;
        width: 22rem;

    }
    .boxContacto p {
        margin-top: 6rem;
    }
    .boxVideo{
        margin: 0;
    }
    .boxVideo iframe{
        margin-left: 1rem;
        width: 10rem;
        height: 16rem;
    }

}


@media(max-width:768px){
    .contenedorInicio{
        display: grid;
        /* height: 100vh; */
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,1fr);
        grid-template-areas: 
        "hola hola hola"
        "inicio imagen"
        "texto texto"
        "contacto contacto"
        "video video"
        ;
        grid-template-rows: 8rem 18rem 25rem 31rem;
        }
        
        .boxInicio{
            width: 28rem;
            background-color: aquamarine;
            height: 18rem;
            overflow: hidden;
            margin: 0;
        }
        .boxInicio p{
            width: 26rem;
            margin-top: 0.5rem;
        }
        .boxImagen img{
            margin-top:0.5rem;

        }
        .boxImagen{
            margin: 0;
            width: 16rem;

        }
        .boxTexto{
            background-color: pink;
            border-radius: 0rem;
            height: 20rem;
            width: 22rem;
            margin: 0;
            overflow: hidden;
        }
        .boxTexto p{
            margin-top: 1rem;
            width: 20rem;
            height: 25rem;
        }
        .boxContacto{
            margin: 0 ;
            height: 20rem;
            width: 22rem;

        }
        .boxContacto p {
            margin-top: 6rem;
        }
        .boxVideo{
            margin: 0;
        }
        .boxVideo iframe{
            margin-left: 1rem;
            width: 44rem;
        }
}
