@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap");
* {
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden; }

.navbar {
  height: auto;
  width: auto; }

.bgPropio {
  background-color: yellow; }

.navbar-brand {
  font-family: "Playfair Display", serif;
  font-size: 2em; }

.nav-item {
  font-size: 1.3em; }

.fondo {
  background-image: url(../assets/img/confeti.jpg);
  background-repeat: repeat-x;
  width: 100%; }

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: yellow;
  position: fixed;
  z-index: 3; }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    header nav ul li {
      font-family: "Noto Sans", sans-serif;
      color: black;
      text-decoration: none;
      font-size: 1.3em;
      z-index: 3; }
      header nav ul li a {
        text-decoration: none; }

.titulosPaginas {
  font-family: "Playfair Display", serif;
  font-size: 10em;
  text-align: center; }
  .titulosPaginas h2 {
    font-size: 0.5em;
    overflow: hidden; }

#encabezado {
  margin-top: 7em; }

.contenedorInicio {
  display: grid;
  grid-template-rows: 5rem 27rem 22rem 40rem;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "hola hola hola hola " "inicio inicio inicio imagen" "texto texto contacto contacto" "video video video video"; }

.boxHola {
  grid-area: hola;
  text-align: center;
  width: 100%; }
  .boxHola h2 {
    font-size: 3rem;
    font-family: "Playfair Display", serif;
    overflow: hidden;
    margin-top: 0.2rem; }

.boxInicio {
  grid-area: inicio;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.768); }
  .boxInicio p {
    margin-top: 2rem;
    text-align: justify;
    margin-left: 1rem;
    height: 90%;
    width: 90%; }

.boxImagen {
  grid-area: imagen;
  height: 95%;
  width: 90%;
  overflow: hidden; }
  .boxImagen img {
    border-radius: 1rem;
    margin-top: 1rem; }

.boxTexto {
  grid-area: texto;
  background-color: yellow;
  overflow: hidden;
  border-radius: 3rem;
  margin-left: 1rem;
  width: 100%;
  height: 100%; }
  .boxTexto p {
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    text-align: justify;
    margin-top: 10%;
    height: 100%;
    width: 90%; }

.boxContacto {
  background-color: rgba(251, 255, 0, 0.527);
  border-radius: 1em;
  grid-area: contacto;
  height: 18rem;
  margin-top: 2em;
  width: 20rem; }
  .boxContacto p {
    font-family: "Noto Sans", sans-serif;
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    margin-top: 2.5rem;
    justify-content: center;
    width: 90%; }
    .boxContacto p a {
      text-decoration: none;
      color: grey; }
      .boxContacto p a:hover {
        color: red;
        transform: scale(2, 2); }

.boxVideo {
  grid-area: video;
  overflow: hidden; }
  .boxVideo iframe {
    border-radius: 1em;
    border: 3em;
    margin-left: 5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 90%;
    height: 90%; }

.contenedorServicios {
  display: grid;
  grid-template-rows: 15rem 23rem 15rem;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "servicioIG servicioIG servicioIG comunidad" "servicioFB ventas ventas reconocimiento" "servicioSV servicioSV servicioSV reconocimiento"; }

.servicioIG {
  grid-area: servicioIG;
  overflow: hidden;
  background-color: #ffdd00;
  margin-left: 3rem;
  margin-top: 0em;
  margin-right: 2em;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 12em;
  border-radius: 2em;
  margin-bottom: 1em;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: #535252; }
  .servicioIG h3 {
    overflow: hidden;
    margin-left: 1em;
    margin-top: 1em;
    color: black;
    font-family: "Noto Sans", sans-serif; }
  .servicioIG p {
    width: 90%; }

.servicioFB {
  grid-area: servicioFB;
  background-color: #ffdd00;
  margin-left: 3rem;
  margin-top: 0em;
  margin-right: 2em;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  height: 90%;
  border-radius: 2em;
  margin-bottom: 1em;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: #535252; }
  .servicioFB h3 {
    overflow: hidden;
    margin-left: 1em;
    margin-top: 1em;
    color: black; }
  .servicioFB p {
    width: 90%; }

.servicioSV {
  grid-area: servicioSV;
  background-color: #ffdd00;
  margin-left: 3rem;
  margin-top: 0em;
  margin-right: 2em;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 90%;
  border-radius: 2em;
  margin-bottom: 1em;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: #535252; }
  .servicioSV h3 {
    overflow: hidden;
    margin-left: 1em;
    margin-top: 1em;
    color: black; }
  .servicioSV p {
    width: 90%;
    font-family: "Noto Sans", sans-serif;
    font-size: 2rem; }

.comunidad {
  grid-area: comunidad;
  overflow: hidden;
  background-color: #ffdd00;
  margin-top: 0em;
  margin-right: 2em;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 12em;
  border-radius: 2em;
  margin-bottom: 1em;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: #535252; }
  .comunidad p {
    margin-left: 1rem;
    width: 90%; }
  .comunidad h3 {
    overflow: hidden;
    margin-left: 1em;
    margin-top: 1em;
    color: black; }

.ventas {
  grid-area: ventas;
  overflow: hidden;
  width: 100%;
  background-color: #ffdd00;
  margin-left: 3rem;
  margin-top: 0em;
  margin-right: 2em;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 12em;
  border-radius: 2em;
  margin-bottom: 1em;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem; }
  .ventas h3 {
    overflow: hidden;
    margin-left: 1em;
    margin-top: 1em;
    color: black; }
  .ventas p {
    margin-left: 1rem;
    width: 90%;
    color: #535252; }

.reconocimiento {
  grid-area: reconocimiento;
  overflow: hidden;
  background-color: #ffdd00;
  margin-top: 0em;
  margin-right: 2em;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 24em;
  border-radius: 2em;
  margin-bottom: 1em;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: #535252; }
  .reconocimiento h3 {
    overflow: hidden;
    margin-left: 1em;
    margin-top: 1em;
    color: black; }
  .reconocimiento p {
    margin-left: 1rem;
    width: 90%; }

.servicio h3 {
  font-family: "Noto Sans", sans-serif;
  text-align: left;
  margin-top: 0.5em;
  margin-left: 1em;
  font-size: 2em; }

.servicio ul li {
  font-family: "Noto Sans", sans-serif;
  color: #535252;
  margin-left: 0em;
  margin-top: 1em; }

#contenedorClientes {
  margin-top: 1em; }

#cardCliente {
  margin-left: 11em;
  margin-top: 3px;
  margin-right: 5em;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  width: 18em;
  height: 18em;
  margin-bottom: 1em; }
  #cardCliente img {
    width: 16em;
    height: 16em;
    overflow: hidden; }
  #cardCliente h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    overflow: hidden; }
    #cardCliente h3 a {
      text-decoration: none; }

#preguntas {
  background-color: #ffdd00;
  margin-left: 11em;
  margin-top: 3em;
  margin-right: 5em;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  width: 20em;
  height: 18em;
  border-radius: 2em;
  margin-bottom: 1em; }
  #preguntas h3 {
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    margin-top: 0.5em;
    font-size: 1.5em;
    overflow: hidden; }
  #preguntas p {
    font-family: "Noto Sans", sans-serif;
    color: #535252;
    margin-left: 0em;
    margin-top: 0.8em;
    text-align: center; }
    #preguntas p a {
      text-decoration: none;
      color: black; }
      #preguntas p a:hover {
        color: red; }

.formulario {
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 110%;
  width: 90%;
  overflow: auto;
  font-size: 1em;
  background-color: white; }
  .formulario input {
    width: 95%;
    overflow: hidden;
    border-color: yellow;
    border-bottom-width: 0.9em 0.9em 0.9em 0.9em;
    border-style: solid;
    height: 2.5em; }
  .formulario select {
    width: 95%;
    overflow: hidden;
    border-color: yellow;
    border-bottom-width: 0.9em 0.9em 0.9em 0.9em;
    border-style: solid;
    height: 2.5em; }
  .formulario textarea {
    width: 95%;
    overflow: hidden;
    border-color: yellow;
    border-bottom-width: 0.9em 0.9em 0.9em 0.9em;
    border-style: solid; }
  .formulario fieldset {
    width: 95%;
    overflow: hidden;
    border-color: yellow;
    border-bottom-width: 0.9em 0.9em 0.9em 0.9em;
    border-style: solid; }

.botones {
  margin-top: 1em;
  display: inline-flex;
  justify-content: space-around; }
  .botones input {
    margin-top: 1em;
    display: inline-flex;
    justify-content: space-around;
    width: 8em;
    height: 2em;
    background-color: #575555;
    font-family: "Noto Sans", sans-serif;
    font-size: 1em; }

#mapa {
  width: 90%;
  border: 3em;
  border-color: yellow;
  margin-bottom: 1em;
  text-align: center; }
  #mapa iframe {
    border-radius: 1em; }
  #mapa p {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.5em; }

#rrss {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8em;
  background-color: yellow;
  height: 7em; }
  #rrss a {
    background: radial-gradient(circle, #f6f769 35%, #fb9216 100%);
    justify-items: baseline;
    border-radius: 5em;
    height: 3.5em;
    width: 3.5em; }
    #rrss a:hover {
      transform: scale(1.2, 1.2); }
    #rrss a svg {
      margin-top: 1em; }

footer p {
  background-color: yellow;
  font-family: "Times New Roman", Times, serif;
  text-align: center; }

.copy {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em; }

@media (max-width: 768px) {
  .contenedorInicio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 8rem 20rem 28rem 25rem;
    grid-template-areas: "hola hola hola" "inicio imagen" "texto texto" "contacto contacto" "video video"; }
  .boxInicio {
    width: 28rem;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0; }
  .boxInicio p {
    width: 90%;
    height: 100%;
    margin-top: 2%;
    overflow: hidden; }
  .boxImagen img {
    margin-top: 0.5rem; }
  .boxImagen {
    margin: 0;
    width: 16rem; }
  .boxTexto {
    border-radius: 0rem;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden; }
  .boxTexto p {
    width: 90%;
    height: 100%;
    margin: 5%;
    overflow: hidden; }
  .boxContacto {
    margin: 5%;
    margin-left: 2%;
    height: 20rem;
    width: 22rem; }
  .boxContacto p {
    margin-top: 25%;
    margin-left: 5%; }
  .boxVideo {
    margin: 2%;
    height: 90%;
    width: 95%; }
  .boxVideo iframe {
    width: 100%;
    margin: 10%; }
  /*MEDIA DE SERVICIOS*/
  .contenedorServicios {
    display: grid;
    grid-template-rows: 15rem 25rem 20rem;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "servicioIG servicioIG servicioIG comunidad" "servicioFB servicioFB ventas reconocimiento" "servicioSV servicioSV servicioSV reconocimiento"; }
  .servicioIG {
    grid-area: servicioIG;
    overflow: hidden;
    background-color: #ffdd00;
    margin-left: 1rem;
    margin-top: 0em;
    margin-right: 2em;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 12em;
    border-radius: 2em;
    margin-bottom: 1em; }
  .servicioIG h3 {
    overflow: hidden;
    margin-left: 1em;
    margin-top: 1em; }
  .servicioFB {
    grid-area: servicioFB;
    background-color: #ffdd00;
    margin-left: 1rem;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90%;
    border-radius: 2em;
    margin-bottom: 1em;
    overflow: hidden; }
  .servicioFB h3 {
    overflow: hidden;
    margin-left: 1em;
    margin-top: 1em; }
  .servicioFB p {
    margin: 0;
    width: 90%; }
  .servicioSV {
    grid-area: servicioSV;
    background-color: #ffdd00;
    margin-left: 1rem;
    margin-top: 0em;
    margin-right: 2em;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 18em;
    border-radius: 2em;
    margin-bottom: 1em;
    overflow: hidden; }
  .servicioSV h3 {
    overflow: hidden;
    margin-left: 1em;
    margin-top: 1em; }
  .servicioSV p {
    width: 90%; }
  .comunidad {
    grid-area: comunidad;
    overflow: hidden;
    background-color: #ffdd00;
    margin-top: 0em;
    margin-right: 2em;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 12em;
    border-radius: 2em;
    margin-bottom: 1em; }
  .comunidad p {
    width: 90%;
    height: 100%; }
  .comunidad h3 {
    overflow: hidden;
    margin-top: 1em; }
  .ventas {
    grid-area: ventas;
    overflow: hidden;
    width: 100%;
    background-color: #ffdd00;
    margin-left: 2rem;
    margin-top: 0em;
    margin-right: 2em;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 18em;
    border-radius: 2em;
    margin-bottom: 1em; }
  .ventas h3 {
    overflow: hidden;
    margin-top: 1em; }
  .ventas p {
    width: 90%; }
  .reconocimiento {
    grid-area: reconocimiento;
    overflow: hidden;
    background-color: #ffdd00;
    margin-top: 0em;
    margin-right: 2em;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 38em;
    border-radius: 2em;
    margin-bottom: 1em; }
  .reconocimiento h3 {
    overflow: hidden;
    margin-top: 1em;
    width: 90%;
    text-align: left; }
  .reconocimiento p {
    width: 90%; } }

@media (max-width: 576px) {
  * {
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden; }
  .contenedorInicio {
    display: grid;
    grid-template-rows: 8rem 15rem 25rem 12rem 18rem 15rem;
    grid-template-columns: 100%;
    grid-template-areas: "hola" "inicio" "imagen" "texto" "contacto" "video";
    background-color: white; }
  .boxHola {
    width: 100%; }
  .boxInicio {
    width: 100%;
    height: 18rem;
    overflow: hidden;
    margin: 0;
    font-size: 1rem; }
  .boxInicio p {
    width: 90%;
    margin-top: 0.7rem;
    font-size: 0.8em; }
  .boxImagen img {
    margin-top: 0.5rem;
    width: 80%;
    height: 80%;
    margin: 5%;
    margin-left: 10%; }
  .boxImagen {
    margin: 0;
    width: 100%;
    height: 100%; }
  .boxTexto {
    border-radius: 0rem;
    margin: 0;
    overflow: hidden;
    margin-top: 0;
    width: 100%;
    height: 100%; }
  .boxTexto p {
    margin-top: 1rem;
    height: 90%;
    width: 90%;
    margin-top: 0.7rem;
    font-size: 0.8em; }
  .boxContacto {
    height: 70%;
    width: 70%;
    margin: 8%;
    margin-left: 12%; }
  .boxContacto p {
    margin-top: 5%; }
  .boxVideo {
    width: 100%;
    height: 100%; }
  .boxVideo iframe {
    margin: 10%;
    width: 80%;
    height: 80%;
    margin-top: 0;
    margin-bottom: 0; }
  /*MEDIA DE SERVICIOS*/
  .contenedorServicios {
    display: grid;
    grid-template-rows: 14rem 10rem 10rem 18rem 10rem 25rem;
    grid-template-columns: 100%;
    grid-template-areas: "servicioIG" "comunidad" "ventas" "servicioFB" "reconocimiento" "servicioSV"; }
  .servicioIG {
    width: 90%;
    height: 90%;
    margin-left: 5%; }
  .comunidad {
    width: 90%;
    height: 90%;
    margin-left: 5%; }
  .ventas {
    width: 90%;
    height: 90%;
    margin: 0;
    margin-left: 5%; }
  .servicioFB {
    width: 90%;
    height: 90%;
    margin-left: 5%; }
  .reconocimiento {
    width: 90%;
    height: 90%;
    margin-left: 5%; }
  .servicioSV {
    width: 90%;
    height: 90%;
    margin-left: 5%; } }
