@mixin anchoAlto ($width, $height)
{
    width: $width;
    height: $height;
}
@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box{
    @include anchoAlto (20px,20px);
}