$colorAmarillo: yellow;
$colorBlanco:   rgba(255, 255, 255, 0.768);
$colorGris: rgb(83, 82, 82);
$colorServicio: rgb(255, 221, 0);
$colorBoton: rgb(87, 85, 85);
$typoTitulos: 'Playfair Display', serif;
$typoTextos: 'Noto Sans', sans-serif;
$typoTimes: 'Times New Roman', Times, serif;
$vista:tablet; 
$vistam:mobile;
