.contenedorServicios{
    display: grid;
    grid-template-rows: 15rem 23rem 15rem ; 
    grid-template-columns: 25% 25% 25% 25% ;
    grid-template-areas: 
    "servicioIG servicioIG servicioIG comunidad"
    "servicioFB ventas ventas reconocimiento"
    "servicioSV servicioSV servicioSV reconocimiento"
    
    ;
    
}

.servicioIG{
    grid-area:servicioIG;
    @extend .bloquesServicio;
    overflow: hidden;
    background-color: $colorServicio;
    font-family: $typoTextos;
    color: $colorGris;
    @include anchoAlto(90%,12rem);

    h3{
        overflow: hidden;
        margin-left: 1em;
        margin-top:1em;
        color: black;
        font-family: $typoTextos;
        
    }

    p{
        width: 90%;
    }
}

.servicioFB{
    grid-area:servicioFB;
    @extend .bloquesServicio;
    background-color: $colorServicio;
    font-family: $typoTextos;
    color: $colorGris;
    @include anchoAlto(88%,90%);

    h3{
        overflow: hidden;
        margin-left: 1em;
        margin-top:1em;
        color: black;
        
    }
    p{
        width: 90%;
        
    }
}

.servicioSV{
    grid-area:servicioSV;
    background-color: $colorServicio;
    @extend .bloquesServicio;
    font-family: $typoTextos;
    color: $colorGris;
    @include anchoAlto(90%,90%);

    h3{
        overflow: hidden;
        margin-left: 1em;
        margin-top:1em;
        color: black;
    }

    p {
        width: 90%;
        font-family: $typoTextos;
        font-size: 2rem;
    }
}

.comunidad{
    grid-area:comunidad ;
    display:inline-block;
    @extend .bloquesServ;
    overflow: hidden;
    background-color: $colorServicio;
    font-family: $typoTextos;
    color: $colorGris;
    @include anchoAlto(90%,12rem);

    p {
        margin-left: 1rem;
        width: 90%;
    }

    h3 {
        overflow: hidden;
        margin-left: 1em;
        margin-top:1em;
        color: black;
    }
    
}

.ventas{
    grid-area:ventas;
    overflow: hidden;
    width: 100%;
    background-color: $colorServicio;
    @extend .bloquesServicio;
    font-family: $typoTextos;
    @include anchoAlto(85%,12rem);

    h3{
        overflow: hidden;
        margin-left: 1em;
        margin-top:1em;
        color: black;
    }

    p {
        margin-left: 1rem;
        width: 90%;
        color: $colorGris;
    }
}

.reconocimiento{
    grid-area:reconocimiento;
    overflow: hidden;
    background-color: $colorServicio;
    @extend .bloquesServ;
    font-family: $typoTextos;
    color: $colorGris;
    @include anchoAlto(90%,24rem);

    

    h3{
        overflow: hidden;
        margin-left: 1em;
        margin-top:1em;
        color: black;
    }

    p {
        margin-left: 1rem;
        width: 90%;
    }
    
}

.servicio{

    h3{
        font-family:$typoTextos;
        text-align:left;
        margin-top: 0.5em;
        margin-left: 1em;
        font-size: 2em;
    }
    ul li {
        font-family:$typoTextos; 
        color: $colorGris;
        margin-left: 0em;
        margin-top: 1em;
    
    }
}